@import "eStar/variables";
/*****************************
Content Area (right)
*****************************/

.content{
  margin-left:180px;}
  
.content > .container-fluid{
  padding-left:25px;
  padding-right:25px;}


.warper{
  padding-top:20px;
  padding-bottom:20px;
  min-height:550px;}





/*** Page Header / Page Title ***/

.page-header{
  margin:0px;
  border:0px;}

.page-header h1{
  color: #5f6066;
  font-weight:500;
  font-size:32px;
  margin-top:15px;
  margin-bottom:20px;}
  
.page-header *{
  font-weight:300;}
  
  
.page-header * small{
  font-size:14px;
  color:#7b7c81;}



/*****************************
Custom Margins & Paddings
*****************************/

.no-margn{
  margin:0px;}


.margn-t-xs{
  margin-top:5px;}
  
.margn-t-sm{
  margin-top:10px;}






  
.no-padd{
  padding:0px;}

  
.padd-xs{
  padding:5px;}
  
.padd-sm{
  padding:10px;}
  
.padd-md{
  padding:15px;}
  
.padd-lg{
  padding:20px;}
  
  
.padd-t-xs{
  padding-top:5px;}
  
.padd-t-sm{
  padding-top:10px;}
  
.padd-t-md{
  padding-top:15px;}
  
.padd-t-lg{
  padding-top:20px;}









/*****************************
Styled Radio/Checkbox
*****************************/

.cr-styled{
  display:inline-block;
  margin:0px 2px;}
  
.cr-styled i{
  display:inline-block;
  height:20px;
  width:20px;
  cursor:pointer;
  vertical-align:middle;
  border:2px solid #CCC;
  border-radius:3px;
  text-align:center;
  padding-top:1px;
  font-family: 'FontAwesome';}
  
.cr-styled input{
  visibility:hidden;
  display:none;}
  


/* Checkbox */
.cr-styled input[type=checkbox]:checked + i:before{
  content: "\f00c";}


/* Radio */
.cr-styled input[type=radio] + i{
  border-radius:20px;}  
.cr-styled input[type=radio]:checked + i:before{
  content: "\f111";}




/*** cr-styled Theaming/Colorss ***/

.cr-styled input:checked + i{
  border-color:#a49bc4;
  color:#a49bc4;}






  










/*****************************
 Pages / Widgets / Elements 
*****************************/


/****Dashboard Stats****/

.dashboard-stats.panel{
  position:relative;
  cursor:pointer;
  padding:10px 10px 10px 106px;}
  
.dashboard-stats i.fa.stats-icon{
  width:80px;
  padding:20px;
  font-size:40px;
  position:absolute;
  margin-left:10px;
  left:0px;
  top:10px;
  text-align:center;
  z-index:1;
  color:#fff;
  height:80px;}
  
  
.dashboard-stats.rounded i.fa.stats-icon,
.dashboard-stats.rounded.panel{
  border-radius:50px;}
  

.dashboard-stats .sparkline{
  position:absolute;
  left:30px;
    right: 90px;
  top:20px;
  opacity:0;}

.dashboard-stats .backpage{
    position:absolute;
    left:30px;
    right: 90px;
    top:20px;
    opacity:0;}

  
.dashboard-stats h3{
  margin-top:14px;}

.dashboard-stats small{
  font-size:14px;
  margin-left:6px;
  opacity:0.8;} 
  
.dashboard-stats:hover i.fa.stats-icon{
  /*right:10px;*/
  left:100%;
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
  margin-left:-90px;}
  
  
.dashboard-stats:hover h3,
.dashboard-stats:hover p{
  opacity:0;}
  
.dashboard-stats:hover .sparkline,
.dashboard-stats:hover .backpage,
.dashboard-stats:hover i.fa.stats-icon{
  opacity:1;}
  






/****Messages-Chating****/

.messages{
  max-height:520px;
  overflow:auto;}

.messages .media{
  padding-top:18px;
  padding-bottom:18px;
  margin:0px;
  border-top:1px dashed #eaeef1;}
  
.messages .media:first-child{
  border:0px;}

.messages .media .media-body .media{
  margin-top:18px;
  padding-bottom:0px;}


/*user status icon*/
.user-status{
  position:relative;
  display:inline-block;}
  
.user-status:before,
.user-status:before{
  content:"";
  display:inline-block;
  height:12px;
  width:12px;
  border-radius:100%;
  background-color:#666;
  position:absolute;
  top:0px;
  right:0px;
  border:2px solid #fff;}


/*user status icon color*/  
.user-status.online:before{
  background-color:#70ba63;}

.user-status.busy:before{
  background-color:#01a0e6;}
  
.user-status.invisibled:before{
  background-color:#f2b635;}
  
.user-status.offline:before{
  background-color:#f25648;}



.messages .media > .pull-left{
  margin-right:15px;}
.messages .media > .pull-right{
  margin-left:15px;}
  
.messages .media > .pull-right + .media-body{
  text-align:right;}  
  

.messages .media img.media-object{
  width:54px;
  border-radius:100%;}

.messages .media .media-body{
  font-size:13px;}





/****ToDo List****/
.todo-list li{
  border:0px;
  margin:0px;
  border-radius:0px;
  border-bottom:1px dashed #e0e0e0;}





/****Activities List****/


.activities-list{
  max-height:560px;
  overflow:auto;}

.activities-list > li{
  position:relative;
  padding:10px 95px 10px 40px;}

.activities-list > li:before{
  content:"";
  position:absolute;
  left:15px;
  top:0px;
  height:100%;
  border-left:1px solid #ccc;}
  
.activities-list > li:after{
  content:"";
  position:absolute;
  left:10px;
  top:10px;
  height:12px;
  width:12px;
  border-radius:20px;
  border:1px solid #ccc;
  background-color:#fff;}


.activities-list > li span.time{
  font-size:12px;
  color:#ccc;}


.activities-list li .activity-actions{
  position:absolute;
  right:0px;
  top:25px;}


.activities-list > li.info-activity:before,
.activities-list > li.info-activity:after{
  border-color:#4fcdfc;}

.activities-list > li.warning-activity:before,
.activities-list > li.warning-activity:after{
  border-color:#fcd036;}
  
.activities-list > li.danger-activity:before,
.activities-list > li.danger-activity:after{
  border-color:#ff6264;}
  
.activities-list > li.success-activity:before,
.activities-list li.success-activity:after{
  border-color:#68b828;}
  
.activities-list > li.primary-activity:before,
.activities-list > li.primary-activity:after{
  border-color:#7c38bc;}
  
.activities-list > li.info-activity:before,
.activities-list > li.info-activity:after{
  border-color:#4fcdfc;}






/*****************************
Footer
*****************************/

.footer {
    background-color: #f2f2f4;
    border-top: 1px solid #ececee;
    padding-bottom: 15px;
    padding-top: 15px;
    bottom:0;
    position: fixed;
    width:100%;
    z-index: 2;
}